<form class="container mt-3" method="POST" action="/courses/handle-form-course">
    <h3 class="heading-me-course text-center mt-3">Bạn chưa kích hoạt khóa học nào</h3>
    <div class="d-flex justify-content-between align-items-center">
        <a href="/courses/create" class="btn btn-plus">
            <i class="fa-solid fa-plus icon-plus"></i>
            <span>Mới</span>
        </a>
        <a href="/me/trash/courses">
            <i class="fa-solid fa-trash-can"></i>
            <span>Thùng rác ({{deletedCount}})</span>
        </a>
    </div>
    <div class="my-3 align-items-center action-courses">
        <div>
            <input type="checkbox" name="checkbox" id="checkbox-all">
            <label for="checkbox-all">Chọn tất cả</label>
        </div>
        <select class="form-select form-select-action mx-3" name="action" required>
            <option value="" selected>-- Hành động --</option>
            <option value="delete">Xóa</option>
        </select>
        <button class="btn btn-primary btn-execute" disabled>Thực hiện</button>
    </div>
    <table id="course-table" class="table table-bordered text-center mb-4">
        <thead class="table-light">
            <tr>
                <th>#</th>
                <th scope="col">Stt</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">
                    Trình độ
                    {{{sortable 'level' _sort}}}
                </th>
                <th scope="col">
                    Thời gian tạo
                    {{{sortable 'createdAt' _sort}}}
                </th>
                <th class="text-center" scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <td><input type="checkbox" name="itemCheckbox" value="{{this._id}}"></td>
                    <td scope="row">{{sum @index 1}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td class="text-center">
                        <a href="/courses/{{this._id}}/edit">
                            <i class="fa-solid fa-pen text-info me-1"></i>
                        </a>
                        <a
                            data-bs-toggle="modal"
                            data-bs-id="{{this._id}}"
                            data-bs-target="#modal-cofirm-course"
                        >
                            <i class="fa-solid fa-trash text-danger ms-1"></i>
                        </a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    {{!-- Hiển thị khi không có khóa học nào --}}
    <div id="no-course-image" class="text-center">
        <img
            src="https://365cafe.vn/assets/images/no-cart.png"
            alt="Chưa có khóa học nào" 
            class="img-fluid"
        />
    </div>
</form>

{{!-- Cofirm delete course --}}
<div class="modal" id="modal-cofirm-course" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cảnh báo</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa khóa học không?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-delete-course btn btn-danger">Xóa</button>
                <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                >Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Form hidden --}}
<form method="POST" name="delete-form"></form>

<script>
    // 1. Khai báo biến
    var idCourse;
    const deleteForm = document.forms['delete-form'];
    const btnExecute = document.querySelector('.btn-execute');
    const checkboxAll = document.getElementById('checkbox-all');
    const btnDelete = document.querySelector('.btn-delete-course');
    const modalCofirm = document.getElementById('modal-cofirm-course');
    const itemCheckboxes = document.querySelectorAll('input[name="itemCheckbox"]');

    // 2. Show modal confirm
    if (modalCofirm) { 
        modalCofirm.addEventListener('show.bs.modal', e => {
            const button = e.relatedTarget; 
            idCourse = button.getAttribute('data-bs-id');
        }); 
    }

    // 3. Thực hiện xóa
    btnDelete.addEventListener('click', () => {
        deleteForm.action = '/courses/' + idCourse + '?_method=DELETE';
        deleteForm.submit();
    });

    // 4. Thực hiện click checkbox       
    checkboxAll.addEventListener('change', () => {
        const isCheckedAll = checkboxAll.checked;
        itemCheckboxes.forEach((checkbox) => {
            checkbox.checked = isCheckedAll;
        });
        enableBtnExecute()
    });
        
    itemCheckboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', () => {
            const allChecked = Array.from(itemCheckboxes).every((checkbox) => checkbox.checked);
            checkboxAll.checked = allChecked;
            enableBtnExecute()
        });
    });

    const enableBtnExecute = () => {
        const checkedCount = document.querySelectorAll('input[name="itemCheckbox"]:checked').length;
        btnExecute.disabled = checkedCount === 0;
    }
    
    // Kiểm tra số lượng khóa học => nếu có khóa học, ẩn ảnh và hiển thị bảng
    if ({{courses.length}} > 0) {
        document.getElementById('course-table').style.display = 'table';
        document.querySelector('.action-courses').style.display = 'flex';
        document.getElementById('no-course-image').style.display = 'none';
        document.querySelector('.heading-me-course').innerHTML = "Khóa học của tôi";
    }
</script>
