<form class="container mt-3" method="POST"  action="/courses/handle-form-trash">
    <h3 class="heading-trash-course text-center mt-3">Thùng rác trống</h3>
    <a href="/me/stored/courses" class="d-block mb-3">
        <i class="fa-solid fa-arrow-left mx-1"></i>Quay lại
    </a>
    <div class="my-3 align-items-center action-courses">
        <div>
            <input type="checkbox" name="checkbox" id="checkbox-all">
            <label for="checkbox-all">Chọn tất cả</label>
        </div>
        <select class="form-select form-select-action mx-3" name="action" required>
            <option value="" selected>-- Hành động --</option>
            <option value="restore">Khôi phục</option>
            <option value="delete">Xóa</option>
        </select>
        <button class="btn btn-primary btn-execute" disabled>Thực hiện</button>
    </div>
    <table id="course-table" class="table table-bordered text-center mb-4">
        <thead class="table-light">
            <tr>
                <th>#</th>
                <th scope="col">Stt</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian xoá</th>
                <th class="text-center" scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                {{#if deleted}}
                    <tr>
                        <td><input type="checkbox" name="itemCheckbox" value="{{this._id}}"></td>
                        <td scope="row">{{sum @index 1}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.level}}</td>
                        <td>{{this.deletedAt}}</td>
                        <td class="text-center">
                            <a href="" class="btn-restore" data-id="{{this._id}}">
                                <i class="fa-solid fa-clock-rotate-left me-1 text-secondary"></i>
                            </a>
                            <a 
                                href=""
                                data-bs-toggle="modal"
                                data-bs-id="{{this._id}}"
                                data-bs-target="#modal-cofirm-course"
                            >
                                <i class="fa-solid fa-trash text-danger ms-1"></i>
                            </a>
                        </td>
                    </tr>
                {{/if}}
            {{/each}}
        </tbody>
    </table>

    {{! Hiển thị khi không có khóa học nào }}
    <div id="no-course-image" class="text-center">
        <img
            src="https://png.pngtree.com/png-vector/20230316/ourmid/pngtree-trash-line-icon-vector-png-image_6652834.png"
            alt="Thùng rác trống"
            class="img-fluid"
        />
    </div>
</form>

{{! Cofirm delete course }}
<div class="modal" id="modal-cofirm-course" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cảnh báo</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <p>Hành động này sẽ xóa vĩnh viễn khóa học! Bạn có chắc chắn muốn xóa khóa học không?</p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn-delete-course btn btn-danger"
                >Xóa vĩnh viễn</button>
                <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                >Hủy</button>
            </div>
        </div>
    </div>
</div>

<form method="POST" name="delete-form"></form>
<form method="POST" name="restore-form"></form>

<script>
    // 1. Khái báo biến
    var idCourse;
    const deleteForm = document.forms['delete-form'];
    const restoreForm = document.forms['restore-form'];
    const btnExecute = document.querySelector('.btn-execute');
    const checkboxAll = document.getElementById('checkbox-all');
    const btnRestore = document.querySelectorAll(".btn-restore");
    const btnDelete = document.querySelector('.btn-delete-course');
    const modalCofirm = document.getElementById('modal-cofirm-course');
    const itemCheckboxes = document.querySelectorAll('input[name="itemCheckbox"]');

    // 2. Show modal confirm
    if (modalCofirm) {
        modalCofirm.addEventListener('show.bs.modal', e => {
            const button = e.relatedTarget;
            idCourse = button.getAttribute('data-bs-id');
        });
    }

    // 3. Thực hiện khôi phục
    btnRestore.forEach(btn => {
        btn.addEventListener('click', (e) => {
            e.preventDefault();
            const dataId = btn.getAttribute('data-id');
            restoreForm.action = '/courses/' + dataId + '/restore?_method=PATCH';
            restoreForm.submit();
        });
    });

    // 4. Thực hiện xóa
    btnDelete.addEventListener('click', () => {
        deleteForm.action = '/courses/' + idCourse + '/force?_method=DELETE';
        deleteForm.submit();
    });
    
    // 5. Thực hiện click checkbox       
    checkboxAll.addEventListener('change', () => {
        const isCheckedAll = checkboxAll.checked;
        itemCheckboxes.forEach((checkbox) => {
            checkbox.checked = isCheckedAll;
        });
        enableBtnExecute()
    });
        
    itemCheckboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', () => {
            const allChecked = Array.from(itemCheckboxes).every((checkbox) => checkbox.checked);
            checkboxAll.checked = allChecked;
            enableBtnExecute()
        });
    });

    const enableBtnExecute = () => {
        const checkedCount = document.querySelectorAll('input[name="itemCheckbox"]:checked').length;
        btnExecute.disabled = checkedCount === 0;
    }

    // Nếu có khóa học, ẩn ảnh và hiển thị bảng
    if ({{deletedCount}} > 0) {
        document.getElementById('course-table').style.display = 'table';
        document.querySelector('.action-courses').style.display = 'flex';
        document.getElementById('no-course-image').style.display = 'none';
        document.querySelector('.heading-trash-course').innerHTML = "Khóa học đã xóa";
    }
</script>
